[mariadbd]
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
tmp_table_size=384M
innodb_buffer_pool_size=384M
sort_buffer_size=768K
read_buffer_size=768K
read_rnd_buffer_size=512K
join_buffer_size=2M
thread_stack=256K
binlog_cache_size=64K
thread_cache_size=96
table_open_cache=192
max_connections=200
key_buffer_size=256M
slow_query_log=0
long_query_time=10
log_queries_not_using_indexes=0
log_error=/var/lib/mysql/error.log
slow_query_log_file=/var/lib/mysql/slow.log
